.open-sans-primary {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* shared-css-styles  */
  .black-color-code{
    color: #0D1321;
  }

  .section-title{
font-size: 32px;
font-weight: 800;
color: #0D1321;
  }
  .section-description{
font-size: 16px;
font-weight: lighter;
color: #0D1321;
opacity: 70%;
margin-bottom: 30px;
  }

  .learn-more-button{
    padding: 10px;
    border-radius: 5px;
  }
  .learn-more-button a{
    text-decoration: none;
    font-size: 20px;
    color: #0D1321;
    opacity: 70%;
   
  }

  .my-target-boxs button{
    border: none;
    background-color: transparent;
  }
  .my-target-boxs button a{
    color: black;
    font-size: 14px;
  }


  /* header navbar styles  */
  .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 150px;
  }
  .menu-logo-text{
    font-size: 28px;
    font-weight: 800;
  }
  .menu-button{
    border-style: solid;
  border-color: #0D1321;
    border-radius: 10px;
    padding: 15px 15px;

  }
  .menu-button a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: Light 300;
  }


  /* banner styles  */
  .banner-section{
    background-image: url("../images/Hero-bg.png");
    width: 100%;
  }
  .banner{  
    text-align: center;
    max-width: 998px;
    margin: 0px auto;
    padding: 20px;
  }

  .banner-image{
    width: 240px;
    height: 240px;
  }

  .banner-header{
    font-size: 40px;
    font-weight: 800;
  }
  .banner-description{
    font-size: 15px;
    opacity: 90%;
    font-weight: lighter;
  }
  .banner-button a{
    font-size: 17px;
text-decoration: none;
color: white;
  }
  .banner-button{
    background-color: black;
    padding: 13px 13px;
    border-radius: 10px;
  }



  main{
    margin: 10px 145px;
  }

  .why-web-dev{
    text-align: center;
    background-color: #efefef;
    border-radius: 10px;

  }
  .why-web-dev-container{
    margin: 80px 100px;
    padding: 20px;
   
  }

  /* card or group design  */
  .card{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 10px;
    background-image: linear-gradient(to left, rgba(218, 59, 59, 0), rgb(255, 255, 255));
  }
  #card-exeptional{
    background-image: linear-gradient(to right, rgba(218, 59, 59, 0), rgb(255, 255, 255));
    margin: 30px;
  }
  .card-details{
    width: 480px;
    height: 220px;
    text-align: left;
    margin: 15px;
  }

  .card-title{
    font-size: 24px;
    font-weight: 500;
    color: #0D1321;
    opacity: 70%;
  }
  .card-description{
    color: #0D1321;
    opacity: 70%;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .card img{
    width: 220px;
    height: 190px;
  }

  /* <!-- my inspiration section  --> */

  .inspiration{
    text-align: center;
    max-width: 900px;
    margin: 5px auto;
  }

  /* <!-- my current target section --> */

  .my-target{
    margin-top: 70px;
  }
  .my-target-container{
    text-align: center;
    max-width: 900px;
    margin:5px auto ;
  }

  .my-target-boxs{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .box{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
  }

  #html-box{
    background-color: #f3573022;
    padding: 20px;  box-shadow: 10px 10px 8px #888888;
  }
  .box-description{
    font-size: 15px;
    opacity: 50%;
  }
.box img{
  height: 35px;
  width: 35px;
}
  #css-box{
    background-color: #004de81e;
    padding: 20px;  box-shadow: 10px 10px 8px #888888;
  }
  #js-box{
    background-color: #ffdd0025;
    padding: 20px;  box-shadow: 10px 10px 8px #888888;
  }


  /* next target box designs  */

  .next-target-container{
    text-align: center;
    margin-top: 80px ;
  }
.next-target-box{
  margin: 30px;
  display: flex;
 border:  1px solid rgba(161, 161, 161, 0.277);
border-radius: 10px;
padding: 15px;
}
.next-target-box-image{
  width: 150px;
  margin: 20px 10px;
}

.next-target-box-description{
  font-size: 15px;
  font-weight: 100;
  opacity: 60%;
}

#next-target-box-button{
  border: none;
  background-color: transparent;
}


.next-target-box button{
  border: none;
  background-color: transparent;
}
.next-target-box button a{
  color: black;
  font-size: 14px;
  font-weight: 700;
}

/* footer section styles  */
.footer-section{
  margin: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/handshake.jpg");
  background-position: center;
  /* background-blend-mode:multiply; */
  max-width: 1140px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}


.footer-section-title{
color: white;
}

.footer-section-description{
color: white;
}


footer input[type=text]{
  padding: 20px;
  border-radius: 10px;
  border: none;
  opacity: .9;
}

footer input[type=button]{
  padding: 20px;
  border-radius: 10px;
  border: none;
}


/* copyright section design styles  */
.copyright-container{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.icons{
  display: flex;
  align-items: center;
}

.icons img{
  margin: 15px;
}

